<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div id="top-sidebar-wrapper">
            <img src="~/Graphics/close.png" id="CloseNav"/>
        </div>
        <ul class="sidebar-nav">
            <li>@Html.ActionLink("Bremsen", "Index", "Home")</li>
            <li>@Html.ActionLink("Elektrik", "Index", "Home")</li>
            <li>@Html.ActionLink("Getriebe", "Index", "Home")</li>
            <li>@Html.ActionLink("Kupplung", "Index", "Home")</li>
            <li>@Html.ActionLink("Rahmen", "Index", "Home")</li>
            <li>@Html.ActionLink("Scheinwerffer", "Index", "Home")</li>
            <li>@Html.ActionLink("Seilzüge", "Index", "Home")</li>
            <li>@Html.ActionLink("Stossdämpfer", "Index", "Home")</li>
            <li>@Html.ActionLink("Vergaser", "Index", "Home")</li>
            <li>@Html.ActionLink("Zündung", "Index", "Home")</li>
            <li>@Html.ActionLink("Zylinder", "Index", "Home")</li>
        </ul>
    </div>
    <div class="header-wrapper">

    </div>
    <div id="page-content-wrapper" class="body-content">
        
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Vespa WebShop</p>
            </footer>
    </div>
    
</div>

                
            
    
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
    <script>
    $('#CloseNav').click(function (e) {
        $('#sidebar-wrapper').animate({ "left": "-250px" }, 300);
    });
    </script>
</body>



</html>
