<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div id="top-sidebar-wrapper">
            <img src="~/Graphics/navIcon.png" id="CloseNav"/>
        </div>
        <ul class="sidebar-nav">
            <li>@Html.ActionLink("Bremsen", "Index", "Home")</li>
            <li>@Html.ActionLink("Elektrik", "Index", "Home")</li>
            <li>@Html.ActionLink("Getriebe", "Index", "Home")</li>
            <li>@Html.ActionLink("Kupplung", "Index", "Home")</li>
            <li>@Html.ActionLink("Rahmen", "Index", "Home")</li>
            <li>@Html.ActionLink("Scheinwerffer", "Index", "Home")</li>
            <li>@Html.ActionLink("Seilzüge", "Index", "Home")</li>
            <li>@Html.ActionLink("Stossdämpfer", "Index", "Home")</li>
            <li>@Html.ActionLink("Vergaser", "Index", "Home")</li>
            <li>@Html.ActionLink("Zündung", "Index", "Home")</li>
            <li>@Html.ActionLink("Zylinder", "Index", "Home")</li>
        </ul>
    </div>
    <div id="content_blocker"></div>
    <div class="header-wrapper">
        
            <h1>Maurizi Vespa Shop</h1>
        <img src="~/Graphics/navIcon.png" id="OpenNav" />


        @if (Session["UserName"] == null)
        {
            @Html.ActionLink("Login", "Login", "Home", new { id = "login" })
        }
        else
        {
            @Html.ActionLink(Session["UserName"].ToString(), "UserSettings", "Home", new { id = "login" })
        }



    </div>
    <div id="page-content-wrapper" class="body-content">
        
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Vespa WebShop</p>
            </footer>
    </div>
    
</div>

                
            
    
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
    <script>
    $('#CloseNav').click(function (e) {
        $('#sidebar-wrapper').animate({ "left": "-250px" }, 300);
        _blockContent(false)
    });
    $('#OpenNav').click(function (e) {
        $('#sidebar-wrapper').animate({ "left": "0px" }, 300);
        _blockContent(true);
    });
    $('#content_blocker').click(function (e) {
        $('#sidebar-wrapper').animate({ "left": "-250px" }, 300);
        _blockContent(false);
    });

    var _blockContent = function (block) {
        if (block) {
            $('#content_blocker').addClass("expand");
            $('#content_blocker').animate({ "opacity": "0.3" }, 300);
        }
        else {
            $('#content_blocker').animate({ "opacity": "0.0" }, 300);
            $('#content_blocker').removeClass("expand");
            
        }
        
    }
    
    
    </script>
</body>



</html>
